<section id="add" class="container">
  <div class="form-wrap">
    <h1>Add A Contact</h1>

    {{#each errors}}
    <div class="error">
      <p>{{text}}</p>
    </div>
    {{/each}}
    <form action='/contacts/add' method='POST'>
      <div class="input-group">
        <label for="Username">Username</label>
        <input type="text" name="username" id="username" class="input-box"
          maxlength="100" value={{username}}>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="input-box"
        maxlength="100" value={{email}}>
      </div>
      <div class="input-group">
        <label for="age">Age</label>
        <input type="number" name="age" id="age" class="input-box"
        value={{age}}>
      </div>
      <div class="input-group">
        <label for="bio">Bio</label>
        <textarea name="bio" id="bio" class="input-box"
          rows="5" >{{bio}}</textarea>
      </div>
      <input type="submit" value="Add Contact" class="btn btn-reverse">
    </form>
  </div>
</section>
