<section id="contacts" class="container">
  <h1>All Contacts</h1>

  {{#each contacts}}

  <div class="contact">
    <h3>{{username}}</h3>
    <p>{{bio}}</p>
    <ul>
      <div class='container'><a href="mailto:{{email}}" class="btn btn-reverse">Message</a></div>
      <div class='container'><a href="/contacts/delete/{{id}}" class="btn btn-reverse">Delete</a></div>
    </ul>
    <div class="age">
      <small>age: <span>{{age}}</span></small>
    </div>
    <div class="mail">
      <small>email: <span>{{email}}</span></small>
    </div>
  </div>

  {{else}}
    <p>No contacts registered<p>

  {{/each}}
</section>
